body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lightcyan;
}
header {
  margin: 20px;
}

.profile {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
  object-fit: cover;
}
.bio {
  font-size: 1em;
}

footer {
  margin: 20px;
}
